input,
textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.inventory-container {
    display: flex;
    border-top: 1px solid #f0f2f5;
    height: 100%;
}

.inventory-container .left {
    width: 30vw;
    border: 1px solid #f0f2f5;
}

.inventory-container .right {
    width: 70vw;
}

.detail-title {
    padding-right: 10px;
    text-align: right;
    line-height: 30px;
    border-bottom: 1px solid #f0f2f5;
}

.detail-basicData .row {
    display: flex;
    padding: 10px 0;
}
.row .col {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.col .label {
    width: 100px;
}
.label11,
.label1,
.label13,
.label12 {
    width: 72px;
}

.col .ant-select,
.ant-picker,
textarea {
    width: 202px !important;
}

.add-content {
    width: 100%;
}

.search-content {
    padding: 20px;
}

.search-content .ant-form-item-label > label {
    width: 80px;
    margin-right: 10px;
}

.col2 .ant-form-item-label > label {
    display: flex;
    justify-content: flex-end;
}
.search-btn {
    border: 1px solid red;
}

.col11 .ant-form-item-label > label {
    margin-left: 20px;
}
