.ant-page-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-page-header-content .title {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.ant-page-header-content .left .ant-picker {
    width: 250px !important;
}

.head-bth button {
    margin-left: 10px;
}

.outStock {
    flex-direction: column;
}

.custom .left {
    display: flex;
    align-items: center;
}

.custom .left .title {
    margin-right: 10px;
}