.header-form {
    padding-top: 10px !important;
}


.custom .ant-page-header-heading-extra {
    display: flex;
}

.drop {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    border: 1px solid #d9d9d9;
}

.basic-data {
    width: 600px;
    margin-left: 5px;
    padding-top: 10px;
}

.detail-content {
    max-height: 79vh;
    overflow-y: scroll;
}

.detail-content em {
    margin-right: 10px;
}

.clothing-data {
    display: flex;
}

.clothing-right {
    width: 85%;
    border-left: 1px solid #d9d9d9;
}



.c-row {
    margin-bottom: 10px;
}

.c-col {
    display: flex !important;
    align-items: center;
}

.c-col.ant-col-16 .c-input {
    width: 325px;
}

.c-col.ant-col-24 .c-input {
    width: 525px;
}

.c-col .c-label {
    margin-right: 5px;
    width: 65px !important;
    font-size: 12px;
}

.c-col .c-input {
    width: 125px;
}

.c-col .ant-picker,
.c-col .ant-select {
    width: 125px !important;
}

.c-right {
    text-align: right;
}

.spec input {
    width: 55px;
}

.spec input:nth-child(1) {
    margin-right: 5px;
}


.spec input:nth-child(2) {
    margin-left: 4px;
}

.edit-table .ant-card-body,
.clothing-left .ant-card-body {
    padding: 0;
}

.clothing-left .ant-pro-table {
    width: 380px;
}

.clothing-left .ant-select {
    min-width: 84px !important;
}

.openCloth .ant-btn {
    margin-left: 8px;
}

.openCloth .ant-form-item-control-input-content {
    text-align: right;
}

.clothSvg {
    position: fixed;
    top: -100vh;
    left: -100vw;
}

.outStockOrder {
    /* border: 1px solid red; */
    background: #fff;
    margin: 20px;
}
.o-title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}
.o-subtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 2px solid #000;
}
.o-address-info{
    width: 50%;
   text-align: center;
}
.ob-row{
    display: flex;
    justify-content: space-between;
}
.ob-row div{
    width: 23%;
}
.ob-row p{
    padding: 0;
    margin: 0;
}
.o-base-datta{
    border-bottom: 1px solid #000;
}
.o-barcode{
    display: flex;
}
.col-title{
    width: 70px;
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    text-align: center;
}

.col-row{
    display: flex;
    
}
.col-row div:first-child{
    width: 20px;
    border: 1px solid #000;
    border-top: none;
    text-align: center;
}
.col-row div:last-child{
    width: 50px;
   border-bottom: 1px solid #000;
   border-right: 1px solid #000;
    border-left: none;
    text-align: center;
}
.o-col:first-child .col-title{
    border-left: 1px solid #000;
}
.o-col:last-child .col-row div:first-child{
    border-left: none;
}
.o-col-total{
    display: flex;
    margin-top: 10px;
    
}
.total-item{
    width: 70px;
    text-align: center;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
}
.total-item:first-child{
    border-left: 1px solid #000;
}
.o-footer-total{
    display: flex;
    align-items: flex-end;
}
.o-barTotal{
    width: 140px;
    border: 1px solid #000;
}
.o-weightTotal{
    border: 1px solid #000;
    border-top: none;
}
.o-remark,.o-accept{
    width: 100%;
    border: 1px solid #000;
    border-left: none;
    padding-left: 10px;
    line-height: 45px;
}
.o-note{
    display: flex;
    justify-content: space-between;
}
.footer-btn {
    text-align: right;
}







/* 自定义表格 */
.tableHead,
.table-tr,
.addRowInput {
    display: flex;
    align-items: center;
}

.table-td {
    width: 100px;
    border: 1px solid blue;
    text-align: left;
    margin: 0 10px 5px;
}

.addRow-item {
    border: 1px solid red;
}

.table-cel {
    border: 1px solid green;
    width: 100px;
    margin: 0 10px 5px;
}