.header-form {
    padding-top: 10px !important;
    padding-left: 20px !important;
}


/* .custom .ant-page-header-heading-extra {
    display: flex;
} */


.drop {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    border: 1px solid #d9d9d9;
}

.basic-data {
    width: 600px;
    margin-left: 5px;
    padding-top: 10px;
}

.detail-content {
    max-height: 79vh;
}

.detail-content em {
    margin-right: 10px;
}

.clothing-data {
    display: flex;
}

.clothing-right {
    width: 85%;
    border-left: 1px solid #d9d9d9;
}



.c-row {
    margin-bottom: 10px;
}

.c-col {
    display: flex !important;
    align-items: center;
}

.c-col.ant-col-16 .c-input {
    width: 325px;
}

.c-col.ant-col-24 .c-input {
    width: 525px;
}

.c-col .c-label {
    margin-right: 5px;
    width: 65px !important;
    font-size: 12px;
}

.c-col .c-input {
    width: 125px;
}

.c-col .ant-picker,
.c-col .ant-select {
    width: 125px !important;
}

.c-right {
    text-align: right;
}

.spec input {
    width: 55px;
}

.spec input:nth-child(1) {
    margin-right: 5px;
}


.spec input:nth-child(2) {
    margin-left: 4px;
}

.edit-table .ant-card-body,
.clothing-left .ant-card-body {
    padding: 0;
}

.clothing-left .ant-pro-table {
    width: 380px;
}

.clothing-left .ant-select {
    min-width: 84px !important;
}

.openCloth .ant-btn {
    margin-left: 8px;
}

.openCloth .ant-form-item-control-input-content {
    text-align: right;
}

.clothSvg {
    position: fixed;
    top: -100vh;
    left: -100vw;
}









/* 自定义表格 */
.tableHead,
.table-tr,
.addRowInput {
    display: flex;
    align-items: center;
}

.table-td {
    width: 100px;
    /* border: 1px solid blue; */
    text-align: left;
    margin: 0 10px 5px;
}

.addRow-item {
    border: 1px solid red;
}

.table-cel {
    border: 1px solid green;
    width: 100px;
    margin: 0 10px 5px;
}

/*  */

.header-form .ant-input {
    border-left: none;
}

.header-form .ant-input {
    height: 26px !important;
}

.header-form .searchType .ant-select-selector,
.header-form .billStatus .ant-select-selector {
    /* border-right: none !important; */
    height: 26px !important;
}

.header-form .searchType .ant-select-selector,
.header-form .billStatus .ant-select-selector {
    /* border-right: none !important; */
    height: 26px !important;
}

.header-form .searchType .ant-select-selector {
    border-right: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.header-form .ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 26px;
}