.ant-layout.ant-layout-has-sider {
    height: 100vh;
}

.ant-layout-sider-trigger {
    background: transparent !important;
}

.logo {
    width: 80%;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 14px;
    color: #d7e6fe;
    line-height: 34px;
    overflow: hidden;
    border-radius: 2px;
}
