.userInfo {
    margin-right: 20px;
}

.userInfo .ant-input,
.userInfo .ant-btn {
    border: none !important;
}

.userInfo .ant-space-item {
    display: flex;
}
.msg-box {
    margin-right: 20px;
    margin-left: 20px;
}
.userInfo .msg {
    width: 20px;
    height: 20px;
}
