.modal-content {
    display: flex;
    justify-content: space-between;
}

.modal-content .left {
    width: 68%;
}

.modal-content .right {
    width: 31%;
}

.customModal .ant-modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}